h2{
	font-size: 60px;

}
#card-4{
	margin-top: -40px;
}
#card-2{
	margin-bottom:40px;
}

span{
color: #158366;
}


p{
     
      font-weight: normal;
        font-family: "halyard-display",sans-serif; 
          font-size: 30px;
}


.card-1{
	margin-left: 30px;
	margin-top: 30px;
	width: 300px;
	height: 400px;
	background-color:#F5F5F5;
}

.p-1{
	margin-left: 20px;
}


@media (max-width:450px){

    html{
        font-size: 70%;
    }

    .card-1{
    	margin-bottom:-1000px;
    }

    

}


