
.sp{
	color:green;

}
.p{
    margin-left: 30px;
}

h2{
    margin-top: -250px;
	margin-left: 30px;
    font-weight: 500;
    font-size: 60px;
    font-style: normal;
    text-decoration: none;
    font-family: 'degular',sans-serif;
    color: #222525;
    text-transform: none;
}

.btn{
    margin-top: 20px;
    margin-left: 30px;
	font-family: 'Work Sans',sans-serif;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    background-color: rgba(255,255,255,0.0);
    border: 1px solid #e1e3f0;
    border-radius: 4px;
    color: #158366;
    fill: #158366;
    padding: 16px 30px;
    text-transform: none;
}

.btn:hover{
	border-color: green;
	transition:0.5s;	
}


/* mobil responsiv  starts*/


@media (max-width:450px){





}













/*mobil responsive ends*/
